.titulo{
    padding-top: 10%;
    padding-left: 3%;
    color: black;
}
.formulario{
    padding-bottom: 2%;

    display: block;
    padding-left: 35%;
    background-color: rgba(0,0,0,.5);
}
.contact_input1{
	width: 158%;
	height: 48px;
	background: #f1f6f9;
	border-radius: 24px;
	padding-left: 38px;
	border: none;
	outline: none;
    margin-top: 2%;
    margin-bottom: 2%;
}
.boton{
    margin-top: 2%;    
    margin-bottom: 2%;
    margin-left: -13%;
    border-radius: 24px;
    height: 49px;
    width: 100px;
}
.centerbutton{
    margin-left: 20%;
    border-radius: 24px;
}
.tema{
    font-family: 'Roboto', sans-serif;
    color:black;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 150%;
    background-color: #f1f6f9;
    border-radius: 24px;
    padding-right: 5%;
}
.btnbrowse{
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
    color:#a5a5a5;
    padding-left: 7%;
    margin-left: -69%;
}
.posicion{
    padding-left: 100%;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.centerLabelVerText {
    display: flex;
    align-items: center;
}