@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900');
.registerlabel{
    font-family: 'Roboto', sans-serif;
    display: contents;
    width: 80px;
    margin-top: 20%;
}
.registerinput{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;
    display: block;
    width: 100px;
}

.centrado{
    text-align: center;
    padding-bottom: 2%;
}
.centrar{
    margin-top: 3%;
    margin-left: 43%;
    margin-bottom: 2%;

}
.tag{
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 80px;
    margin-left: 32%;
} 
.tag1{
    font-family: 'Roboto', sans-serif;
    display: unset;
    width: 60px;
    padding-left: 20px;
} 
.registertitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.registerbtn{
    margin-top: 3%;
    margin-left: 37%;
    margin-bottom: 2%;
}
.main-layout{
    min-height: 100vh;
    width: 100vw;
}
.background{
    height: 100vh;
    width: 100vw;
    background-image: url(/img/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.register{
    /*margin-top: 10%;
    margin-bottom: 2%;*/
}
.login{
    /*margin-top: 10%;*/
}
.centerVert{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2{
    padding-top: 2%;
    padding-bottom: 2%;
    
    color: black;
    background-color: rgba(240, 240, 240, 0.5);   
}
.content{
    margin-bottom: 3%;
}
.col-xl{
    margin-top: 2%;
    margin-left: 7%;
}
.newsletter_input2{
	width: 40%;
	height: 40%;
	border-radius: 36px;
	background: #FFFFFF;
	border: none;
    outline: none;
    padding-top: 2%;
    padding-bottom: 2%;
	padding-left: 4%;
}
.newsletter_input1{
    margin-left: 7%;
	width: 80%;
	height: 50%;
	border-radius: 36px;
	background: #FFFFFF;
	border: none;
    outline: none;
    padding-top: 2%;
    padding-bottom: 2%;
	padding-left: 4%;
}
.about_text p{
    text-align: justify;
}
.navbar-brand:hover{
    cursor: pointer;
}
.newsletter_button2
{
    width: 193px;
    height: 72px;
    color: #FFFFFF;
    border-radius: 36px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(to right, #487fee, #32fa95);
}
.newsletter_button2:active
{
    outline: none;
    border: none;
}